body, html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

a {
    display: inline-block;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 42px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

.flex {  
    display: flex;
    align-items: center;
}

.container {
    width: 1012px;
    margin: 0 auto;
    padding-right:205px;
    justify-content: space-between;
    font-size:0;
}

.container > * {
    font-size:13px;
}

.link {
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}

.link:hover {
    background-color: #3963a3;
}

.icon-16px {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.icon-20px {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.icon-24px {
    background-size: auto;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.header-left {
    min-width:550px;
    max-width:550px;
}

.header-right {
    min-width: 303px;
    max-width: 303px;
}

.fb-logo {
    background-image: url(https://facebook.com/rsrc.php/v3/yx/r/pzdnQfNKajS.png);
    background-position: 0 -171px;
}

.search-area {
    margin-left: 5px;
    display: inline-block;
    font-size: 15px;
}

.input-out {
    display: inline-block;
}

.search {
    width: 400px;
    padding-right: 50px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.search-button {
    display: inline-block;
    height: 21px;
    width: 45px;
    margin-right:50px;
    vertical-align: middle;
    background-color: #eff2f7;  
    margin-left:-50px;  
}

.search-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -618px;
    height: 14px;
    width: 14px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-button:hover {
    background-color: #e1e3e8
}

.avatar-link {
    display: inline-block;
    position: relative;
}

.avatar-link::after {
    content: "";
    display: block;
    position: absolute;
    width:1px;
    height:20px;
    top:4px;
    right:0;
    background:#2c4e82;
}

.profile-image {
    background: url(../content/avatar.jpg);
    background-size:contain;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: inline-block;
    vertical-align: middle;
}

.profile-name {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.profile-name::after {
    border-right: 1px solid #315791;
}

.home {
    padding: 3px 5px 3px 5px;
}

.home-link {
    margin-left:-5px;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.header-right-text {
    margin-right: 20px;
}

.header-right-icons {
    font-size: 0px;
    vertical-align: middle;
    position: relative;
    margin-right:10px;
}

.header-right-icons::after {
    content: "";
    display: block;
    position: absolute;
    width:1px;
    height:20px;
    top:4px;
    right:-10px;
    background:#2c4e82;
}

.header-icon {
    margin-right: 7px;
    opacity: .6;
}

.header-icon:hover  {
    opacity: .9;
}

.header-right-logout {
    vertical-align: middle;
    font-size:0px;
}

.friend-request-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-position: 0 -275px;
}

.freind-request-h {
    position: relative;
}

.friend-request-dropdown div::after{
    top: -8px;
    left: 318px;
}

.messages-dropdown div::after{
    top: -8px;
    left: 316px;
}

.notifications-dropdown div::after{
    top: -8px;
    left:311px
}

.friend-request-dropdown div::after, .messages-dropdown div::after, .notifications-dropdown div::after{
    content:"";
    height:12px;
    width: 12px;
    position: absolute;
    transform: rotate(45deg);
    background-color:white; 
    border-top:1px solid #eaeaea;
    border-left:1px solid #eaeaea;
    opacity: 1;
}

.notifications-h::after {
    top: 27px;
    left: 6px; 
}

.friend-request-dropdown {
    left: -315px;
}

.messages-dropdown {
    left: -310px;
}

.notifications-dropdown {
    left: -305px;
}

.dropdown {
    position: absolute;
    height:400px;
    width:350px;
    top:34px;
    border:1px solid #eaeaea;
    background-color:white;
    visibility: hidden;
}

.messages-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yx/r/pzdnQfNKajS.png);
    background-position: 0 -246px;
    position: relative;
}

.notifications-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-position: 0 -425px;
    position: relative;
}

.header-icons-links {
    padding: 22 22 22 22;
    position: relative;
}

.help-icon {
    margin-left: 7px;
    background-image: url(https://facebook.com/rsrc.php/v3/yv/r/f6VozFvfWEj.png);
    background-position: 0 -1063px;
    width: 20px;
    height: 20px;
}

.wrap-logout-icon {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.logout-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yv/r/f6VozFvfWEj.png);
    background-position: 0 -1190px;
    display: block;
    opacity: .6;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
}
/*--------------------------    End Of Header ---------------------*/

/*----------------------- main ------------------*/
.main {
    padding-top:55px;
    width: 100%;
    background-color: gainsboro;
}

/*----------------------- main-left ------------------*/

.navigation-bar {   
    width: 190px;
    padding-right: 10px;
    position:fixed; 
}

.nav-bar-avatar {
    margin-bottom: 10px;
}

.navigation-avatar {  
    background: url(../content/avatar.jpg);
    background-size:contain;
    border-radius: 50%;
    overflow: hidden;
}

.navigation-news {   
    background-image: url(https://facebook.com/rsrc.php/v3/yl/r/7bRXeNHfJLD.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -1304px;
}

.hovered {
    background-color: #eaebed
}

.messenger-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yl/r/7bRXeNHfJLD.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -989px;
}

.n-dots {
    color:#a5a5a5;
    font-size: 9px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin:0;
    margin-top:15px;
    width:100%;
}

.list-item {
    padding:3px;
}

.list-item:hover {
    background-color: #eaebed;
}

.hide-long {
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation-bar-text {
    color:black;
    width: 140px;
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
}

.dots {
    color:#a5a5a5;
    font-size: 9px;
    display: none;
}

.list-start {
    margin: 0 0 5px 10px;
    font-weight: bold;
    color: #616770;
}

.list-end {
    margin-left: 10px;
}

.see-more, .see-more:link, .see-more:visited, .see-more:active {
    color:rgb(6, 54, 99);
    display: block;
    width: 100%;
    height: 100%;
}

.see-more:hover {
    text-decoration: underline;
}

.see-more::before {
    background-image: url(https://facebook.com/rsrc.php/v3/y7/r/_Z3ciGup_AX.png);
    background-repeat: no-repeat;
    background-size: 500px 106px;
    background-position: -76px -86px;
    content: '';
    display: inline-block;
    height: 16px;
    margin: 4px 8px 0 22;
    vertical-align: bottom;
    width: 16px;
}

.create, .create:link, .create:visited, .create:active {
    color:rgb(6, 54, 99);
}

.create:hover {
    text-decoration: underline;
}
/*----------------------- end of main left ------------------*/

/*-------------------- main middle ----------------------*/
.news-feed {
    margin-left:200px;
    display: inline-block;
    width: 500px;
    padding-right: 10px;
}

/*----------------------- write post ------------------*/
.write-post {
    width: 100%;
    height: 155px;
    background-color: white;
    overflow: hidden;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.choose-post-type {
    width: 100%;
    height: 32px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #eaeaea;
}

.first {
    margin-left:10px;
}

.next {
    margin-left:20px;
}

.post-type-item {
    position: relative;
}

.item-after::after {
    content: "";
    display: block;
    position: absolute;
    width:1px;
    height:14px;
    top:2px;
    right:-10px;
    background:#eaeaea;
}

.blue {
    color: #365899;
    vertical-align: middle;  
    font-weight: bold;
    font-size: 12px;  
}

.text {
    vertical-align: middle;  
    font-weight: bold;
    font-size: 12px;  
    color: #4b4f56;
}

.pencil {
    background-image: url(https://facebook.com/rsrc.php/v3/yk/r/Tp18fjqp6v5.png);
    vertical-align: middle;
    background-size: 22px 542px;
    background-position: 0 -356px;
}

.album {
    background-image: url(https://facebook.com/rsrc.php/v3/yk/r/Tp18fjqp6v5.png);
    vertical-align: middle;
    background-position: 0 -374px;
    background-size: 22px 542px;
}

.live {    
    background-image: url(https://facebook.com/rsrc.php/v3/yk/r/Tp18fjqp6v5.png);
    vertical-align: middle;
    background-size: 22px 542px;
    background-position: 0 -320px;
}

.post-place {
    height:71px;
    padding: 10px 0 20px 0;
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.post-place::after {
    content:"";
    height:12px;
    width: 12px;
    position: absolute;
    transform: rotate(45deg);
    background-color:white; 
    top:-7px;
    left: 60px;
    border-top:1px solid #eaeaea;
    border-left:1px solid #eaeaea;
}

.post-text {
    margin-left:10px;
    color:#acacacfd;
    font-weight: bold;
}

.post-avatar { 
    background-image: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p60x60/27857988_2052232301728737_8633428345718596309_n.jpg?_nc_cat=0&oh=3b126d1b96296d72db66cd9410a7c1e3&oe=5B6ABB6E);
    background-size: auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height:40px;
   border-radius: 50%;
}

.mind {
    /* background-color; */
    width: 100%;
    box-sizing: border-box;
    height: 51px;
    padding: 0 10px 0 10px;
}

.mind-item {
    padding:5px 10px 5px 10px;
    border-radius: 15px;
    background: #f6f7f9;
    margin-right: 10px;
}

.photo{    
    background-image: url(https://facebook.com/rsrc.php/v3/yU/r/iEjC_OVPHQ7.png);
    background-size: 36px 2608px;
    background-position: 0 -898px;
    margin-right: 5px;
}

.feeling {
    background-position: 0 -788px;
    background-image: url(https://facebook.com/rsrc.php/v3/yU/r/iEjC_OVPHQ7.png);
    background-size: 36px 2608px;
    margin-right: 5px;
}

.mind-dots {
    color: #8b8b8b;
    font-size: 15px;
}

/*----------------------- end of write post ------------------*/

/*---------------------------- main right ---------------------------*/

.main-right {
    width: 302px;
    position: fixed;
    margin-left:710px;
    top:55px;
}

.main-right-item {
    margin-top:15px;
    padding:5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}

.story-list {
    list-style-type: none;
    padding: 0;
    width:100%;
    margin:0;
}

.story-list-item {
    padding: 5px 5px 5px 5px;
}

.story-list-start {   
    margin:5px 15px 5px 5px;
    justify-content: space-between;
}

.story-dots:link, .story-dots:visited, .story-dots:hover, .story-dots:active {
    color:gray;
    font-size:9px;
}

.story-start {
    font-weight: bold;
    color: #616770;
}

.story-list-end{
    margin:5px 0 10px 5px;
}

.story-avatar-outer {
    padding:2px;
    border-radius: 50%;
    border: 2px solid #4080ff;
}

.story-avatar {
    height: 48px;
    width: 48px;
    background-size:contain;
    border-radius: 50%;   
}

.time-ago {
    margin-top:5px;
}

.recents {
    margin:0;
}

.recent-link {
    width: 100%;
}

.languages {
    width:85%;
}

.languages > * {
    margin: 5px 0 5px 0;
}

.lang-link:link, .lang-link:visited, .lang-link:hover, .lang-link:active {
    color: #365899;
    text-decoration: none;
}

.not-active:link, .not-active:visited, .not-active:hover, .not-active:active {
    color:  #c4c4c4;
}
/*----------------------- end of main right ------------------*/
/*----------------------- end of main ------------------*/


/*-------------------- Contacts ---------------------------*/

.messages {
    position: fixed;
    right: 0;
    top: 43px;
    width: 204px;
    border-left: 1px solid #a0a0a0;
    min-height: 100%;
    max-height: 100%;
}

.contact-pages {
    position: fixed;
    right: 0;
    top: 43px;
    width: 195px;
    height:93px;
    border-bottom: 1px solid #a0a0a0;
}

.contact-pages .story-list-start {
    margin-top:15px;
}

.pages-item {
    height: 50px;
    width: 50px;
    background-size: contain;
    border-radius: 50%;
}

.arrow {
    background-image: url(https://facebook.com/rsrc.php/v3/yD/r/L3R4nDgkX3C.png);
    background-repeat: no-repeat;
    background-size: auto;
    width:8px;
    height:12px;
}

.left {
    background-position: -22px -41px;
}

.right {
    background-position: 0 -55px;
}

.contacts {
    position: fixed;
    right: 0;
    top: 140px;
    width: 230px;
    margin-right:-26px;
    overflow-y: scroll;
}

.cc {
    color:#4c4c4c;
}

.messenger {
    width:204px;
}

.messenger-avatar {
    width:34px;
    height:34px;
    border-radius: 50%;
    background-size:contain;
}

.friend-name {
    color:black;
    font-family: inherit;
    margin-left:5px;
    max-width: 135px;
}

.active {
    background: rgb(66, 183, 42);
    border-radius: 50%;
    height: 6px;
    margin: 0 4px 0 4px;
    width: 6px;
}

.justify {  
    width:100%;
    justify-content: space-between;
}
