body, html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

a {
    display: inline-block;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 42px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

.flex {  
    display: flex;
    align-items: center;
}

.container {
    width: 1030px;
    margin: 0 auto;
    padding-right:205px;
    justify-content: space-between;
}

.link {
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}

.link:hover {
    background-color: #3963a3;
}

.fb-logo {
    background-image: url(https://facebook.com/rsrc.php/v3/yx/r/pzdnQfNKajS.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -171px;
    height: 24px;
    width: 24px;
}

.search-area {
    margin-left: 5px;
    display: inline-block;
    font-size: 15px;
}

.input-out {
    display: inline-block;
}

.search {
    width: 400px;
    padding-right: 50px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.search-button {
    display: inline-block;
    height: 21px;
    width: 45px;
    margin-right:50px;
    vertical-align: middle;
    background-color: #eff2f7;  
    margin-left:-50px;  
}

.search-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -618px;
    height: 14px;
    width: 14px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-button:hover {
    background-color: #e1e3e8
}

.avatar-link {
    display: inline-block;
    position: relative;
}

.avatar-link::after {
    content: "";
    display: block;
    position: absolute;
    width:1px;
    height:20px;
    top:4px;
    right:0;
    background:#2c4e82;
}

.profile-image {
    background: url(../content/avatar.jpg);
    background-size:contain;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: inline-block;
    vertical-align: middle;
}

.profile-name {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.profile-name::after {
    border-right: 1px solid #315791;
}

.home {
    padding: 3px 5px 3px 5px;
}

.home-link {
    margin-left:-5px;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.header-right-text {
    margin-right: 20px;
}

.header-right-icons {
    font-size: 0px;
    vertical-align: middle;
    position: relative;
    margin-right:10px;
}

.header-right-icons::after {
    content: "";
    display: block;
    position: absolute;
    width:1px;
    height:20px;
    top:4px;
    right:-10px;
    background:#2c4e82;
}

.header-icon {
    margin-right: 7px;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: .6;
    height: 24px;
    width: 24px;
}

.header-icon:hover  {
    opacity: .9;
}

.header-right-logout {
    vertical-align: middle;
    font-size:0px;
}

.friend-request-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-position: 0 -275px;
}

.messages-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yx/r/pzdnQfNKajS.png);
    background-position: 0 -246px;
}

.notifications-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yw/r/HrH-7nX4RPy.png);
    background-position: 0 -425px;
}

.header-icons-links {
    padding: 22 22 22 22;
}

.help-icon {
    margin-left: 7px;
    background-image: url(https://facebook.com/rsrc.php/v3/yv/r/f6VozFvfWEj.png);
    background-position: 0 -1063px;
    width: 20px;
    height: 20px;
}

.wrap-logout-icon {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.logout-icon {
    background-image: url(https://facebook.com/rsrc.php/v3/yv/r/f6VozFvfWEj.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -1190px;
    display: block;
    height: 16px;
    opacity: .6;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 16px;
}
/*--------------------------    End Of Header ---------------------*/


.main {
    padding-top:50px;
    width: 100%;
    min-height: 100%;
    background-color: gainsboro;
}

.navigation-bar {    
    vertical-align: top;
    display: inline-block;
    width: 190px;
    padding-right: 10px;
}

.list {
    padding-top:20px;
    list-style-type: none;
    padding: 0px;
    width:100%;
}

.list-item {
    padding:3px;
}

.list-item:hover {
    background-color: #ccc9c9;
}

.list-item:hover:last-child  {
    background-color: red;
}

.hide-long {
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation-bar-text {
    color:black;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
}

.navigation-pages-icon {
    vertical-align: middle;
}

.navigation-bar-icon {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.dots {
    color:#a5a5a5;
    font-size: 9px;
    display: none;
}

.list-start {
    margin: 0 0 5px 10px;
    font-weight: bold;
    color: #616770;
}

.list-end {
    margin-left: 10px;
}

.see-more, .see-more:link, .see-more:visited, .see-more:active {
    color:rgb(6, 54, 99);
    display: block;
    width: 100%;
    height: 100%;
}

.see-more:hover {
    text-decoration: underline;
}

.see-more::before {
    background-image: url(https://facebook.com/rsrc.php/v3/y7/r/_Z3ciGup_AX.png);
    background-repeat: no-repeat;
    background-size: 500px 106px;
    background-position: -76px -86px;
    content: '';
    display: inline-block;
    height: 16px;
    margin: 4px 8px 0 22;
    vertical-align: bottom;
    width: 16px;
}

.create, .create:link, .create:visited, .create:active {
    color:rgb(6, 54, 99);
}

.create:hover {
    text-decoration: underline;
}

.news-feed {
    display: inline-block;
    width: 500px;
    padding-right: 20px;
}

.my-day {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.messages {
    position: fixed;
    right: 0;
    top: 43px;
    width: 204px;
    border-left: 1px solid #a0a0a0;
    min-height: 100%;
    max-height: 100%;
}

.instant-games {
    position: fixed;
    right: 0;
    top: 43px;
    width: 204px;
    height:177px;
    border-bottom: 1px solid #a0a0a0;
}

.contacts {
    position: fixed;
    right: 0;
    top: 220px;
    width: 230px;
    margin-right:-26px;
    overflow-y: scroll;
}

.cc {
    color:#4c4c4c;
}

.messenger {
    width:204px;
}

.messenger-avatar {
    width:34px;
    height:34px;
    border-radius: 50%;
    background-size:contain;
}

.friend-name {
    color:black;
    font-family: inherit;
    margin-left:5px;
    max-width: 135px;
}

.active {
    background: rgb(66, 183, 42);
    border-radius: 50%;
    height: 6px;
    margin: 0 4px 0 4px;
    width: 6px;
}

.justify {  
    width:100%;
    justify-content: space-between;
}
